.ds-about-section {
    margin: 0 20%;
}

.ds-button-sec {
    margin: 50px 0 50px 0;
}

img {
    display: flex;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .ds-about-section {
        margin: 0;
    }
}